.grid {
	width: 100%;
	border: none;
	border-collapse: separate;
}
.grid td {
	width: 33.3%;
	vertical-align: top;
	padding: 0;
}
.item1 {
    background: #926239;
    color: #fff;
}
.item2 {
    background: #f9f9f9;
}
