body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}
header {
    background-image: url(./imagans/2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    display: block;
}
#showcase h1 {
    padding-top: 21%;
}
.one {
    font-size: 50px;
}
.two {
    font-size: 20px
}

* {
    margin: 0;
    padding: 0;
}
#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
   
}
header {
    display: block;
}  
#section-a {
    padding: 20px;
    background: #926239;
    color: #fff;
    text-align: center;
}
#section-b {
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}
#section-c {
    white-space: nowrap;
	font-size: 0;
}
.box-1 .box-2 .box-3 {
    white-space: normal;	
	display: inline-block;
	width: 30%;
	vertical-align: top;
	background: #fff2e1;
	margin-right: 5%;
	font-size: 14px;
}
.section-c .box-1 .box-2 .box-3:last-child {
    margin-right: 0 ;
}